.container-detail {
  display: flex;
}

.container-info {
  margin-left: 1rem;
}

.actor-item {
  background-color: lavender;
  margin: 0.4rem;
  padding: 0.4rem;
  border-radius: 10px;
  cursor: pointer;
}
